BOT_TOKEN=8730656807:AAEb61aU6vTWCTkdpy6SLQ36T4m573fIoWQ

ADMIN_IDS=7892805795


TERABOX_API_KEY=teamdev_jirvspco3y

YT_API_KEY=TD_Io4XmlQvyLYAlLNBnhUz6KW1URlTsdJL
YT_API_BASE=https://yt.teamdev.sbs/api/v1/


